<!DOCTYPE html>
<html>
  <head>
    <title>Dros</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <%= render 'google_analytics' %>
  </head>
  <body>
    <%= render 'top_navigation' %>
    <div class="content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <%= render 'bottom_navigation' %>
  </body>
</html>
